{% extends 'base.html.twig' %}

{% block title %}Suppression d'un jeu{% endblock %}

{% block body %}
    <h2>Confirmation de suppression du jeu n°{{game.id}} : </h2>

    <ul class="list-group">
        <li class="list-group-item">Titre : {{game.title}}</li>
        <li class="list-group-item">Entre {{game.minPlayers}} et {{game.maxPlayers}} joueurs</li>
        <li></li>
    </ul>

    <form method="POST">
        <button type="submit">Confirmer</button>
        <a href="{{ path('app_admin_game') }}" class="btn btn-danger">Annuler</a>
    </form>






{% endblock %}